
@{
    ViewBag.Title = "Aleph";
}

<div id="main">
</div>

@section scripts {
    <script src="~/Scripts/conscience/main.js?v=2.4" ></script>
    <link rel="stylesheet" type="text/css" href="/Scripts/conscience/main.bundle.css?v=2.4">
}

