.maintenanceDetailContainer {
    display: flex;
    flex: 1;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.scanContainer {
    display: flex;
    flex: 1;
    justify-content: center
}

.scanContainerVertical {
    display: flex;
    flex-direction: column;
}

.scanSpace {
    flex: 1;
}

.scan {
    background-image: url("/content/images/maintenance/scan.png");
    background-size: 294px 530px;
    background-repeat: no-repeat;
    width: 294px;
    height: 530px;
    z-index: 1;
}

.statusContainer {
    display: flex;
    flex-direction: column;
}

.statusBox {
    background-image: url("/content/images/maintenance/status.png");
    background-size: 479px 139px;
    background-repeat: no-repeat;
    width: 479px;
    height: 139px;
    z-index: 1;
    padding-top: 10px;
    padding-left: 20px;
}

.statusCenter {
    flex: 1;
}

.statusLines {
    background-image: url("/content/images/maintenance/heartrate.png");
    background-size: 488px 156px;
    background-repeat: no-repeat;
    width: 488px;
    height: 156px;
    z-index: 1;
}

.statusVitals1 {
    background-image: url(/content/images/maintenance/vitalsGreen.gif);
    background-size: 460px 51px;
    background-repeat: no-repeat;
    width: 454px;
    height: 51px;
    z-index: 1;
    margin-left: 17px;
    margin-top: 14px;
}

.statusVitals2 {
    background-image: url(/content/images/maintenance/vitalsBlue.gif);
    background-size: 460px 51px; 
    background-repeat: no-repeat;
    width: 454px;
    height: 51px;
    z-index: 1;
    margin-left: 17px;
    margin-top: 21px;
}

.checkbox {
    margin-bottom: 20px;
    margin-top: 20px; 
}