@{
    ViewBag.Title = "Hosts location";
}

<div class="row">
    
    <table>
        <thead>
            <tr><th>Name</th> <th>Latitude</th> <th>Longitude</th> <th>TimeStamp</th><th></th></tr>
        </thead>
        <tbody data-bind="foreach: Users">
            <tr>
                <td data-bind="text: UserName"></td>
                <td data-bind="text: Location().Latitude"></td>
                <td data-bind="text: Location().Longitude"></td>
                <td data-bind="text: Location().TimeStamp"></td>
                <td><button data-bind="click: SendNotification">Send notification</button></td>
            </tr>
        </tbody>
    </table>

    <div id="map" style="height:400px"></div>

</div>


@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    
    <script src="~/Scripts/OpenLayers.js"></script>

    <script src="~/Scripts/Models/User.js"></script>
    <script src="~/Scripts/ViewModels/HomeViewModel.js"></script>

    <script>
        var viewModel = new HomeViewModel("map");

        ko.applyBindings(viewModel);
    </script>
}