html, body {
    margin:0;
    position: relative;
    height: 100%;
    width: 100%;
}

.container, #main {
    height: 100%;
    width: 100%;
}

.mainContent {
    margin-left: 40px;
    margin-right: 40px;
}

input, p {
    color: #F1F1F3 !important;
}

h1, h2, h3 {
    color: #34FFFB !important;
}

h1 {
    font-size: 20px;
}
