html, body {
    margin:0;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.scrollableContainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #27293E;
}

.scrollableContainer::-webkit-scrollbar
{
	width: 6px;
	background-color: #27293E;
}

.scrollableContainer::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #276B82;
}

.flex {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.marginTop {
    margin-top: 20px;
}

.container, #main {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.mainPageContent {
    margin-left: 40px;
    margin-right: 40px;
}

.mainContainer {
    display: flex;
}

.mainContent {
    z-index: 1;
    flex: 1;
}

.itemsCentered {
    align-items: center;
}

.scrollableContainer {
    overflow: auto;
    padding-left: 20px;
}

.picture {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-size:cover;
}

@font-face {
    font-family: 'DejaVuSans';
    src: url('/Content/fonts/DejaVuSans.ttf');
    font-weight: normal;
    font-style: normal;
}

div, input, p, li, h1, h2, h3, a, label, button {
    color: #F1F1F3 !important;
    font-family: 'DejaVuSans';
    font-size: 14px;
    line-height: 22px;
}

a:link, a:visited, a:hover, a:active {
    color: #F1F1F3 !important;
}

table a:link, table a:visited, table a:hover, table a:active {
    color: black !important;
}

li {
    margin-bottom: 10px;
}

h1 {
    color: #34FFFB !important;
    font-size: 20px;
}

h2 {
    color: #40D855 !important;
    font-size: 18px;
    text-transform: uppercase;
}

h3 {
    color: #3FCCD2 !important;
    font-size: 16px;
    text-transform: uppercase;
}

.linkButton {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
    text-decoration: underline;
    text-decoration-color: white;
}

/* Hack: Remove after TDN */
.itemsCentered canvas {
    margin-left: 40px;
    margin-top: 10px;
}